tabula/
kamite/
logisim-evolution/
proteus/
pomodorino-rs/

chaiNNer/
FotoKilof/
imagepy/
pLACaudio/
mkv-muxing-batch-gui/
mkvtoolnix-batch-tool/
nsz/
PySimpleGUI-Base64-Encoder/
Simple_Speech_Recognition/