tabula/
kamite/
logisim-evolution/
proteus/
pomodorino-rs/
pegasus-frontend/

# wsl, or win11?
giada/

# wsl qt
fontedit/
krop/

chaiNNer/
FotoKilof/
imagepy/
pLACaudio/
mkv-muxing-batch-gui/
mkvtoolnix-batch-tool/
nsz/
PySimpleGUI-Base64-Encoder/
Simple_Speech_Recognition/
DocumentCorrector/
comic-template-maker/
pyPDFeditor-GUI/
pdfsam/